<html>
<head>
    <title>
        Add file
    </title>
</head>
<body>
<a href="/admin/<%=un%>/gallery">Add Gallery</a>
<br>
<a href="/admin/<%=un%>/sarees">Add Saree</a>
<br>
<a href="/admin/<%=un%>/suits">Add Suits</a>
<br>
<a href="/admin/<%=un%>/suitings">Add Suitings</a>
<br>
<a href="/admin/<%=un%>/readymade">Add Readymade</a>
<br>
<a href="/admin/<%=un%>/bari">Add Bari</a>
<br>
<a href="/admin/<%=un%>/choonri">Add Choonri</a>
<br>
</body>

</html>