<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Fashion Store
    </title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


</head>
<body>


<nav class="navbar navbar-default" id="nav">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Banke Bihari Fashions</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a href="/">Home </a></li>
                <li><a href="/fashion/gallery">Gallery</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clothings <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><% if(un){%><a href="/loginned/<%= un %>/readymade">
                                Readymade</a><%}%>
                            <% if(!un){ %><a href="/fashion/readymade">
                                Readymade</a><%}%>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li><% if(un){%><a href="/loginned/<%= un %>/sarees">
                                Sarees</a><%}%>
                            <% if(!un){%><a href="/fashion/sarees">
                                Sarees</a><%}%>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li><% if(un){%><a href="/loginned/<%= un %>/choonri">
                                Choonri</a><%}%>
                            <% if(!un){%><a href="/fashion/choonri">
                                Choonri</a><%}%>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li><% if(un){%><a href="/loginned/<%= un %>/suitings">
                                Suitings</a><%}%>
                            <% if(!un){%><a href="/fashion/suitings">
                                Suitings</a><%}%>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li><% if(un){%><a href="/loginned/<%= un %>/bari">
                                Bari</a><%}%>
                            <% if(!un){%><a href="/fashion/bari">
                                Bari</a><%}%>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li><% if(un){%><a href="/loginned/<%= un %>/suits">
                                Suits</a><%}%>
                            <% if(!un){%><a href="/fashion/suits">
                                Suits</a><%}%>
                        </li>
                    </ul>
                </li>
                <li><a href="/#about">About Us</a></li>
                <li><a href="/#contact">Contact Us</a></li>
                <li><a href="#">Privacy policy</a></li>
            </ul>

            <% if(un){%>
            <div class="nav navbar-right">
                <ul class="nav navbar-nav">
                    <!--<i class="fa fa-shopping-cart" aria-hidden="true"></i>-->
                    <a href="#">
                        <span id="span" class="glyphicon glyphicon-shopping-cart"></span>
                    </a>


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= un %> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/loginned/<%= un %>/myaccount">My account</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/loginned/<%= un %>/myorders">My orders</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Submit Feedback</a></li>
                        </ul>
                    </li>
                    <li> <a href="/logout">Log out</a></li>

                </ul>
            </div>
            <%}%>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->

</nav>

<% datas.forEach(function(data){%>

<div class="container" id="container">
<div class="row">

<div class="col-lg-4">


<div class="thumbnail">
    <h4>
        <% if(type!="gallery"){%>
            <%= data.name %>
        <%}%>
    </h4>
<img src="<%= data.source%>">
<div class="caption">
    <% if(type!="gallery"){%>
PRICE:<%= data.price %>
<br>
<button id="<%= data.id%>" class="btn btn-default btn-lg" <%if(!un){%>onclick="location.href ='/login'"<%}%> <%if(data.amount<=0){%> disabled <%}%> type="submit" name="<%=data.amount%>" ><%if(data.amount>0){%>BOOK NOW!<%}%>
    <%if(data.amount<=0){%>NOT AVAILABLE<%}%>
</button>
    <%}%>
</div>
</div>
</div>
</div>
</div>

<% }); %>





<script type="ajax.js"></script>
<script src="/jquery-3.1.1.min.js"></script>
<script
        src="https://code.jquery.com/jquery-3.1.1.js"
        integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    $("button").click(function (){
        var id=$(this).attr('id');
      <%if(un){%>  var un="<%=un%>"; <%}%>

        $.ajax({
            type: 'POST',
            dataType: 'json',
              url:'https://bankebiharifashions.herokuapp.com/loginned/'+ un+'/book/'+id,
//            data: {
//            "success": "Updated Successfully", "status": 200
//
//              //  'id':$(this).attr('id')
//            //},
//            headers:{
//                'Access-Control-Allow-Origin':'http://bankebiharifashions.herokuapp.com',
//        'Access-Control-Allow-Methods':'POST,GET,PUT,DELETE',
//        'Access-Control-Allow-Headers': 'Authorization, Lan'
//            },

            success: function () {
               <%if(un){%> $("#"+id).text("BOOKED"); <%}%>
            },
            error: function (data) {
                $(this).text("BOOK NOW");
            }
        });
        });


</script>


</body>
</html>